.afeb-slick .slick-dots button,
.afeb-slick .slick-dots span,
.afeb-slick .slick-next,
.afeb-slick .slick-prev {
    border: none;
    cursor: pointer;
    display: block;
    font-size: 0;
    line-height: 0;
    outline: 0
}

.afeb-slick .slick-slide {
    margin: 5px
}

.afeb-slick .slick-next,
.afeb-slick .slick-prev {
    background: 0 0;
    color: transparent;
    position: absolute;
    padding: 0;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    z-index: 99999
}

.afeb-slick .slick-next:focus,
.afeb-slick .slick-next:hover,
.afeb-slick .slick-prev:focus,
.afeb-slick .slick-prev:hover {
    background: 0 0;
    color: transparent;
    outline: 0
}

.afeb-slick .slick-next:focus:before,
.afeb-slick .slick-next:hover:before,
.afeb-slick .slick-prev:focus:before,
.afeb-slick .slick-prev:hover:before {
    opacity: 1
}

.afeb-slick .slick-next.slick-disabled:before,
.afeb-slick .slick-prev.slick-disabled:before {
    opacity: .25
}

.afeb-slick .slick-next:before,
.afeb-slick .slick-prev:before {
    color: #333;
    font-size: 20px;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.afeb-slick .slick-prev {
    left: 25px
}

[dir=rtl] .afeb-slick .slick-prev {
    left: auto;
    right: 25px
}

.afeb-slick .slick-next {
    right: 25px
}

[dir=rtl] .afeb-slick .slick-next {
    left: 25px;
    right: auto
}

.afeb-slick .slick-dots {
    bottom: -30px;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    left: 50%;
    list-style: none;
    margin: 0;
    padding: 0;
    transform: translate(-50%, 0);
    z-index: 1
}

.afeb-slick .slick-dots li {
    padding: 5px
}

.afeb-slick .slick-dots button,
.afeb-slick .slick-dots span {
    background-color: #ccc;
    border-radius: 50%;
    height: 10px;
    padding: 0;
    transition: .3s;
    width: 10px
}

.afeb-slick .slick-dots .slick-active button,
.afeb-slick .slick-dots .slick-active span,
.afeb-slick .slick-dots>li:hover button,
.afeb-slick .slick-dots>li:hover span {
    background-color: #000
}