.afeb-author-box {
    align-items: center;
    display: flex
}

.afeb-author-box-avatar {
    flex-shrink: 0;
    margin-inline-end: 25px
}

.afeb-author-box-avatar img {
    border-radius: 500px;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100px
}

.afeb-author-box-text {
    flex-grow: 1;
    font-size: 17px
}

.afeb-author-box-name {
    font-size: 24px;
    margin-bottom: 5px
}

.afeb-author-box-bio,
.afeb-author-box-bio p {
    margin-bottom: .8em
}

.afeb-author-box-bio p:last-of-type {
    margin-bottom: 0
}

.afeb-author-box-layout-image-left .afeb-author-box {
    flex-direction: row
}

.afeb-author-box-layout-image-left .afeb-author-box-avatar {
    margin-left: 0;
    margin-right: 25px
}

.afeb-author-box-layout-image-right .afeb-author-box {
    flex-direction: row-reverse
}

.afeb-author-box-layout-image-right .afeb-author-box-avatar {
    margin-left: 25px;
    margin-right: 0
}

.afeb-author-box-layout-image-above .afeb-author-box {
    display: block
}

.afeb-author-box-layout-image-above .afeb-author-box-avatar {
    display: inline-block;
    margin: 0 auto 15px
}

.afeb-author-box-layout-image-above.afeb-author-box-align-left .afeb-author-box-avatar {
    margin-left: 0
}

.afeb-author-box-layout-image-above.afeb-author-box-align-right .afeb-author-box-avatar {
    margin-right: 0
}

.afeb-author-box-align-left .afeb-author-box {
    text-align: left
}

.afeb-author-box-align-right .afeb-author-box {
    text-align: right
}

.afeb-author-box-align-center .afeb-author-box {
    text-align: center
}

.elementor-button.afeb-author-box-button {
    border: 2px solid #3f444b;
    font-size: 15px;
    font-weight: 100;
    padding: 10px 18px
}

.elementor-button.afeb-author-box-button,
.elementor-button.afeb-author-box-button:hover {
    background: 0 0;
    color: #3f444b
}

.afeb-author-box-avatar,
.afeb-author-box-image-valign-top .afeb-author-box-avatar {
    align-self: flex-start
}

.afeb-author-box-image-valign-middle .afeb-author-box-avatar {
    align-self: center
}