.afeb-creative-button {
    border: 2px solid #5936c6;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    fill: #5936c6;
    letter-spacing: 1.5px;
    line-height: inherit;
    text-transform: capitalize;
    padding: 20px 24px;
    overflow: hidden;
    position: relative;
    text-align: center;
    transition: .2s
}

.afeb-creative-button:hover {
    fill: #fff
}

.afeb-creative-button:hover .afeb-creative-button-text {
    color: #fff
}

.afeb-creative-button span {
    text-decoration: inherit
}

.afeb-creative-button-content-wrapper {
    gap: 8px;
    justify-content: center;
    position: relative;
    z-index: 10
}

.afeb-creative-button-content-wrapper,
.afeb-creative-button-icon,
.afeb-creative-button-wrapper {
    display: flex
}

.afeb-creative-button-icon svg {
    height: auto;
    width: 1em
}

.afeb-creative-button-text {
    color: #5936c6;
    display: inline-block
}

.afeb-creative-button-style1::after,
.afeb-creative-button-style1::before {
    background-color: #5936c6;
    border-radius: 50%;
    block-size: 100%;
    content: '';
    inset-block-start: 0;
    inset-inline-start: 0;
    inline-size: 100%;
    opacity: 0;
    position: absolute;
    transform: scaleX(0);
    transition: .3s ease-in
}

.afeb-creative-button-style2::after,
.afeb-creative-button-style3::before {
    inset-block-start: 50%;
    inset-inline-start: 50%;
    content: "";
    position: absolute
}

.afeb-creative-button-style1::after {
    background-color: #5936c6;
    border-radius: 0;
    transform: scaleX(1)
}

.afeb-creative-button-style1:hover::before {
    border-radius: 0;
    opacity: 1;
    transform: scaleX(1)
}

.afeb-creative-button-style1:hover::after {
    border-radius: 50%;
    opacity: 1;
    transform: scaleX(0)
}

.afeb-creative-button-style1:hover {
    box-shadow: 0 0 10px -3px rgba(90, 54, 198, .5)
}

.afeb-creative-button-style2 {
    block-size: auto;
    transition: .1s ease-in-out;
    vertical-align: middle
}

.afeb-creative-button-style2::after {
    background-color: #5936c6;
    border-radius: 50%;
    block-size: 300px;
    inline-size: 300px;
    transform: translateY(-50%) translateX(-50%) scale(0);
    transition: .2s cubic-bezier(.25, .46, .45, .94)
}

.afeb-creative-button-style2:hover::after {
    transform: translateY(-50%) translateX(-50%) scale(1)
}

.afeb-creative-button-style3::before {
    background: #5936c6;
    block-size: 102%;
    inline-size: 0;
    transform: translate(-50%, -50%);
    transition: .2s linear
}

.afeb-creative-button-style3:hover::before {
    inline-size: 102%
}

.afeb-creative-button-style4::before,
.afeb-creative-button-style4:after {
    background: #5936c6;
    block-size: 100%;
    position: absolute;
    content: "";
    inset-block-start: 0;
    inset-inline-start: -100%;
    inline-size: 100%;
    transition: .2s linear
}

.afeb-creative-button-style4::after {
    inset-inline-end: -100%;
    inset-inline-start: auto
}

.afeb-creative-button-style4:hover:before {
    inset-inline-start: -50%
}

.afeb-creative-button-style4:hover:after {
    inset-inline-end: -50%
}

.afeb-creative-button-style5::before,
.afeb-creative-button-style6::before {
    background-color: #5936c6;
    block-size: 100%;
    content: '';
    inline-size: 100%;
    inset-block-start: 0;
    inset-inline-start: 0;
    position: absolute;
    transition: .3s ease-in-out;
    transform: scale(0, 1);
    transform-origin: 0 100%
}

.afeb-creative-button-style6::before {
    transform-origin: 100% 0
}

.afeb-creative-button-style5:hover::before,
.afeb-creative-button-style6:hover::before {
    transform: scale(1, 1)
}

.afeb-creative-button-style7::before,
.afeb-creative-button-style8::before {
    background: #5936c6;
    block-size: 100%;
    content: "";
    inline-size: 100%;
    inset-block-start: -100%;
    inset-inline-start: 0;
    position: absolute;
    transition: .2s linear
}

.afeb-creative-button-style8::before {
    inset-block-start: 100%
}

.afeb-creative-button-style7:hover:before,
.afeb-creative-button-style8:hover:before {
    inset-block-start: 0
}