.afeb-flip-box .afeb-icon,
.afeb-flip-box-button.afeb-button {
    display: inline-block;
    line-height: 1;
    transition: .3s;
    text-align: center
}

.afeb-flip-box {
    height: 280px;
    perspective: 1000px;
    position: relative;
    transform-style: preserve-3d
}

@media (max-width:1024px) {
    .afeb-flip-box {
        cursor: pointer
    }
}

.afeb-flip-box-front {
    background-color: #5936c6
}

.afeb-flip-box-back {
    background-color: #92003b;
    display: block
}

.afeb-flip-box-layer {
    height: 100%;
    position: absolute;
    transition: .6s ease-in-out;
    width: 100%
}

.afeb-flip-box-layer-overlay {
    align-items: stretch;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding: 35px;
    text-align: center;
    width: 100%
}

.afeb-flip-box-layer-title {
    font-size: 21px;
    font-weight: 600;
    line-height: 1
}

.afeb-flip-box-layer-description {
    font-size: 14px
}

.afeb-flip-box-layer-description:not(:last-child),
.afeb-flip-box-layer-title:not(:last-child) {
    margin: 0 0 5px;
    padding: 0
}

.afeb-flip-box,
.afeb-flip-box .afeb-view-framed,
.afeb-flip-box .afeb-view-stacked {
    --e-flip-box-view-framed-stacked-icon-color: #fff
}

.afeb-flip-box .afeb-icon {
    font-size: 50px;
    padding: 22px
}

.afeb-flip-box .afeb-icon i,
.afeb-flip-box .afeb-icon svg {
    display: block;
    position: relative
}

.afeb-flip-box .afeb-icon,
.afeb-flip-box .afeb-view-framed .afeb-icon,
.afeb-flip-box .afeb-view-stacked .afeb-icon {
    color: var(--e-flip-box-view-framed-stacked-icon-color)
}

.afeb-flip-box .afeb-icon svg,
.afeb-flip-box .afeb-view-framed .afeb-icon svg,
.afeb-flip-box .afeb-view-stacked .afeb-icon svg {
    fill: var(--e-flip-box-view-framed-stacked-icon-color)
}

.afeb-flip-box .afeb-view-framed .afeb-icon {
    border: 3px solid #fff
}

.afeb-flip-box .afeb-shape-circle .afeb-icon {
    border-radius: 50%
}

.afeb-flip-box .afeb-view-stacked .afeb-icon {
    background-color: rgba(0, 0, 0, .5)
}

.afeb-flip-box-button.afeb-button {
    background: 0 0;
    border: 2px solid #fff;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
    fill: #fff;
    margin: 8px;
    padding: 10px 24px
}

.afeb-flip-box-button.afeb-button:focus-visible,
.afeb-flip-box-button.afeb-button:hover {
    background: 0 0;
    text-decoration: none
}

.afeb-flip-box-image {
    display: inline-block !important;
    margin: 0 0 20px;
    text-align: center;
    width: 100%
}

.afeb-flip-box-image img {
    display: inline-block !important;
    width: 180px
}

.afeb-flip-box .afeb-icon-wrapper {
    margin-bottom: 20px
}

.afeb-flip-box-3d .afeb-flip-box-layer-inner {
    transform: translateZ(90px) scale(.91)
}

.afeb-flip-box-3d .afeb-flip-box-layer-overlay {
    transform: translateZ(.1px);
    transform-style: preserve-3d
}

.afeb-flip-box-effect-flip .afeb-flip-box {
    perspective: 1000px;
    transform-style: preserve-3d
}

.afeb-flip-box-effect-flip .afeb-flip-box-layer {
    backface-visibility: hidden;
    transform-style: preserve-3d
}

.afeb-flip-box-effect-flip .afeb-flip-box-front {
    transform: none;
    z-index: 1
}

.afeb-flip-box-effect-flip .afeb-flip-box:focus-visible .afeb-flip-box-back,
.afeb-flip-box-effect-flip .afeb-flip-box:hover .afeb-flip-box-back {
    transform: none
}

.afeb-flip-box-effect-flip.afeb-flip-box-direction-right .afeb-flip-box-back {
    transform: rotateX(0) rotateY(-180deg)
}

.afeb-flip-box-effect-flip.afeb-flip-box-direction-right .afeb-flip-box:focus-visible .afeb-flip-box-front,
.afeb-flip-box-effect-flip.afeb-flip-box-direction-right .afeb-flip-box:hover .afeb-flip-box-front {
    transform: rotateX(0) rotateY(180deg)
}

.afeb-flip-box-effect-flip.afeb-flip-box-direction-left .afeb-flip-box-back {
    transform: rotateX(0) rotateY(180deg)
}

.afeb-flip-box-effect-flip.afeb-flip-box-direction-left .afeb-flip-box:focus-visible .afeb-flip-box-front,
.afeb-flip-box-effect-flip.afeb-flip-box-direction-left .afeb-flip-box:hover .afeb-flip-box-front {
    transform: rotateX(0) rotateY(-180deg)
}

.afeb-flip-box-effect-flip.afeb-flip-box-direction-up .afeb-flip-box-back {
    transform: rotateX(-180deg) rotateY(0)
}

.afeb-flip-box-effect-flip.afeb-flip-box-direction-up .afeb-flip-box:focus-visible .afeb-flip-box-front,
.afeb-flip-box-effect-flip.afeb-flip-box-direction-up .afeb-flip-box:hover .afeb-flip-box-front {
    transform: rotateX(180deg) rotateY(0)
}

.afeb-flip-box-effect-flip.afeb-flip-box-direction-down .afeb-flip-box-back {
    transform: rotateX(180deg) rotateY(0)
}

.afeb-flip-box-effect-flip.afeb-flip-box-direction-down .afeb-flip-box:focus-visible .afeb-flip-box-front,
.afeb-flip-box-effect-flip.afeb-flip-box-direction-down .afeb-flip-box:hover .afeb-flip-box-front {
    transform: rotateX(-180deg) rotateY(0)
}

.afeb-flip-box-effect-push .afeb-flip-box-front {
    transform: none
}

.afeb-flip-box-effect-push.afeb-flip-box-direction-right .afeb-flip-box:focus-visible .afeb-flip-box-front,
.afeb-flip-box-effect-push.afeb-flip-box-direction-right .afeb-flip-box:hover .afeb-flip-box-front {
    transform: translateX(100%) translateY(0)
}

.afeb-flip-box-effect-push.afeb-flip-box-direction-left .afeb-flip-box:focus-visible .afeb-flip-box-front,
.afeb-flip-box-effect-push.afeb-flip-box-direction-left .afeb-flip-box:hover .afeb-flip-box-front {
    transform: translateX(-100%) translateY(0)
}

.afeb-flip-box-effect-push.afeb-flip-box-direction-up .afeb-flip-box:focus-visible .afeb-flip-box-front,
.afeb-flip-box-effect-push.afeb-flip-box-direction-up .afeb-flip-box:hover .afeb-flip-box-front {
    transform: translateX(0) translateY(-100%)
}

.afeb-flip-box-effect-push.afeb-flip-box-direction-down .afeb-flip-box:focus-visible .afeb-flip-box-front,
.afeb-flip-box-effect-push.afeb-flip-box-direction-down .afeb-flip-box:hover .afeb-flip-box-front {
    transform: translateX(0) translateY(100%)
}

.afeb-flip-box-effect-push .afeb-flip-box,
.afeb-flip-box-effect-slide .afeb-flip-box {
    overflow: hidden
}

.afeb-flip-box-effect-push .afeb-flip-box:focus-visible .afeb-flip-box-back,
.afeb-flip-box-effect-push .afeb-flip-box:hover .afeb-flip-box-back,
.afeb-flip-box-effect-slide .afeb-flip-box:focus-visible .afeb-flip-box-back,
.afeb-flip-box-effect-slide .afeb-flip-box:hover .afeb-flip-box-back {
    transform: none
}

.afeb-flip-box-effect-push.afeb-flip-box-direction-right .afeb-flip-box-back,
.afeb-flip-box-effect-slide.afeb-flip-box-direction-right .afeb-flip-box-back {
    transform: translateX(-100%) translateY(0)
}

.afeb-flip-box-effect-push.afeb-flip-box-direction-left .afeb-flip-box-back,
.afeb-flip-box-effect-slide.afeb-flip-box-direction-left .afeb-flip-box-back {
    transform: translateX(100%) translateY(0)
}

.afeb-flip-box-effect-push.afeb-flip-box-direction-up .afeb-flip-box-back,
.afeb-flip-box-effect-slide.afeb-flip-box-direction-up .afeb-flip-box-back {
    transform: translateX(0) translateY(100%)
}

.afeb-flip-box-effect-push.afeb-flip-box-direction-down .afeb-flip-box-back,
.afeb-flip-box-effect-slide.afeb-flip-box-direction-down .afeb-flip-box-back {
    transform: translateX(0) translateY(-100%)
}

.afeb-flip-box-effect-zoom-out .afeb-flip-box .afeb-flip-box-front {
    opacity: 1;
    transform: scale(1);
    transition: transform .7s, opacity .35s, width .1ms;
    width: 100%;
    z-index: 1
}

.afeb-flip-box-effect-zoom-out .afeb-flip-box:focus-visible .afeb-flip-box-front,
.afeb-flip-box-effect-zoom-out .afeb-flip-box:hover .afeb-flip-box-front {
    opacity: 0;
    transform: scale(.7);
    transition: transform .8s, opacity .7s .1s, width .1ms .7s;
    width: 0
}

.afeb-flip-box-effect-zoom-in .afeb-flip-box .afeb-flip-box-back {
    opacity: 0;
    transform: scale(.7);
    transition: transform .7s, opacity .5s .2s
}

.afeb-flip-box-effect-zoom-in .afeb-flip-box:focus-visible .afeb-flip-box-back,
.afeb-flip-box-effect-zoom-in .afeb-flip-box:hover .afeb-flip-box-back {
    opacity: 1;
    transform: scale(1);
    transition: transform .7s, opacity .5s
}

.afeb-flip-box-effect-fade .afeb-flip-box .afeb-flip-box-back {
    opacity: 0
}

.afeb-flip-box-effect-fade .afeb-flip-box:focus-visible .afeb-flip-box-back,
.afeb-flip-box-effect-fade .afeb-flip-box:hover .afeb-flip-box-back {
    opacity: 1
}

.elementor-widget-afeb_flip_box.afeb-flip-box-flipped .afeb-widget-container .afeb-flip-box-front,
.elementor-widget-afeb_flip_box.afeb-flip-box-flipped:not(:has(.afeb-widget-container)) .afeb-flip-box-front {
    display: none
}

.elementor-widget-afeb_flip_box.afeb-flip-box-flipped .afeb-widget-container .afeb-flip-box-back,
.elementor-widget-afeb_flip_box.afeb-flip-box-flipped:not(:has(.afeb-widget-container)) .afeb-flip-box-back {
    opacity: 1;
    transform: none
}

.e-con-inner>.elementor-widget-afeb_flip_box,
.e-con>.elementor-widget-afeb_flip_box {
    width: var(--container-widget-width);
    --flex-grow: var(--container-widget-flex-grow)
}