.afeb-info-box {
    background-color: #FC4100;
    border-radius: 20px;
    margin-top: 30px;
    padding: 15px;
    position: relative;
}

.afeb-info-box::before {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px 4px rgba(0, 0, 0, 0.1);
    content: '';
    display: block;
    height: 100px;
    position: absolute;
    left: 50%;
    top: -10px;
    transform: translateX(-50%);
    width: 90%;
    z-index: -1;


}

.afeb-info-box .afeb-icon-box {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 50px;
}

.afeb-info-box .afeb-icon-box .afeb-icon-wrapper {
    background: #fff;
    border-radius: 50%;
    padding: 20px;
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    z-index: 100;
}

.afeb-info-box .afeb-icon-box .afeb-icon-wrapper svg {
    fill: #00215E;
    width: 50px;
    padding-left: 0;
    padding-right: 0;
}

.afeb-info-box .afeb-title {
    color: #fff;
    text-align: center;
}

.afeb-info-box .afeb-title span {
    font-size: 20px;
    font-weight: bold;
}

.afeb-info-box .afeb-content p {
    color: #fff;
    font-size: 16px;
    text-align: center;
}