.afeb-lr-form-group,
.afeb-lr-style-1 .afeb-lr-form-group .afeb-lr-form-control-box {
    position: relative
}

.afeb-lr-form-group label {
    padding: 2px 10px;
    width: fit-content
}

.afeb-lr-form-group label>.afeb-required-mark {
    color: red
}

.afeb-lr-form-group .afeb-password-visibility,
.afeb-lr-form-group label>.afeb-help-description {
    cursor: pointer
}

.afeb-lr-form-group label>.afeb-help-description-text {
    display: none;
    font-weight: 100;
    padding: 5px
}

.afeb-lr-form-group .afeb-lr-form-control-box {
    border-radius: 10px;
    display: flex;
    justify-items: center;
    gap: .75em;
    padding: 10px 5px
}

.afeb-lr-style-1 {
    background: #f5f5f5;
    display: flex;
    border-radius: .5em;
    box-shadow: 0 0 2em #e6e9f9;
    flex-direction: column;
    gap: 2em;
    padding: .5em 1em
}

.afeb-lr-style-1 .afeb-lr-form-group {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 2em rgba(200, 161, 224, .3);
    color: #4d4d4d;
    display: flex;
    flex-direction: column;
    gap: .5em;
    margin-top: 1em;
    padding: .5em
}

.afeb-lr-style-1 .afeb-lr-form-group .afeb-lr-form-control-box .afeb-lr-form-icon {
    position: relative;
    z-index: 10
}

.afeb-lr-style-1 .afeb-lr-form-group .afeb-lr-form-control-box .afeb-lr-form-icon>i,
.afeb-lr-style-1 .afeb-lr-form-group .afeb-lr-form-control-box .afeb-lr-form-icon>svg {
    color: #674188;
    fill: #674188
}

.afeb-lr-style-1 .afeb-lr-form-group .afeb-lr-form-control-box .afeb-lr-form-input-box {
    position: relative;
    width: 100%
}

.afeb-lr-style-1 .afeb-lr-form-group .afeb-lr-form-control-box .afeb-lr-form-input-box.afeb-strength-password::after {
    border-radius: 50px;
    bottom: -5px;
    content: '';
    height: 3px;
    left: 0;
    position: absolute;
    width: 0
}

.afeb-lr-style-1 .afeb-lr-form-group .afeb-lr-form-control-box input {
    background: 0 0;
    border: none;
    display: inline;
    outline: 0;
    padding: 0;
    width: 100%
}

.afeb-lr-style-1 .afeb-lr-form-group .afeb-lr-form-control-box input::-moz-placeholder {
    color: #000;
    font-size: .9em
}

.afeb-lr-style-1 .afeb-lr-form-group .afeb-lr-form-control-box input:-ms-input-placeholder {
    color: #000;
    font-size: .9em
}

.afeb-lr-style-1 .afeb-lr-form-group .afeb-lr-form-control-box input::placeholder {
    color: #000;
    font-size: .9em
}

.afeb-lr-style-1 .afeb-lr-form-group .afeb-lr-form-control-box i {
    color: #4d4d4d;
    font-size: 20px;
    margin-bottom: -.2em
}

.afeb-lr-style-1 .afeb-lr-form-group .afeb-lr-form-control-box svg {
    fill: #4d4d4d;
    margin-bottom: -.2em;
    margin-left: 2px;
    width: 20px
}

.afeb-lr-style-1 .afeb-lr-form-remember-box {
    margin-top: 1.75em;
    margin-left: 2em
}

.afeb-lr-style-1 .afeb-lr-form-remember-box>input[type=checkbox] {
    cursor: pointer;
    display: none;
    height: initial;
    margin-bottom: 0;
    padding: 0;
    width: initial
}

.afeb-lr-style-1 .afeb-lr-form-remember-box>label {
    cursor: pointer;
    position: relative
}

.afeb-lr-style-1 .afeb-lr-form-remember-box>label::before {
    background-color: transparent;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05), inset 0 -15px 10px -12px rgba(0, 0, 0, .05);
    border: 2px solid #674188;
    border-radius: 5px;
    content: '';
    cursor: pointer;
    display: inline-block;
    margin-right: 5px;
    padding: 10px;
    position: relative;
    top: -2px;
    vertical-align: middle;
    -webkit-appearance: none
}

.afeb-lr-style-1 .afeb-lr-form-remember-box>input[type=checkbox]:checked+label:after {
    border: solid #674188;
    border-width: 0 2px 2px 0;
    content: '';
    display: block;
    height: 14px;
    left: 8px;
    position: absolute;
    transform: rotate(45deg);
    top: 2px;
    width: 7px
}

.afeb-lr-style-1 .afeb-lr-form-submit-box>input[type=submit] {
    background: #c8a1e0;
    border: none;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin: 2em auto;
    padding: .5em;
    font-weight: 600;
    width: 100%
}

.afeb-lr-style-1 .afeb-lr-form-submit-box>input[type=submit]:hover {
    background-color: #c59ddd
}

.afeb-lr-style-1 .afeb-lr-form-footer-box {
    color: #5e5e5e;
    display: flex;
    font-size: .8em;
    padding: 0 1em 1.75em;
    width: 100%
}

.afeb-lr-style-1 .afeb-lr-form-footer-box>a:first-child {
    margin-right: auto
}

.afeb-lr-style-1 .afeb-lr-form-footer-box>a:last-child {
    margin-left: auto
}

.afeb-lr-style-1 .afeb-lr-form-footer-box>a:hover {
    color: #674188;
    cursor: pointer
}

.afeb-lr-style-1 .afeb-lr-form-err-box {
    background-color: #f8d7da;
    border-radius: 15px;
    color: #721c24;
    padding: 1em;
    width: 100%
}

.afeb-lr-style-1 .afeb-lr-form-succ-box {
    background-color: #d4edda;
    border-radius: 15px;
    color: #155724;
    padding: 1em;
    width: 100%
}

.afeb-login-form-box .afeb-lostpassword-form,
.afeb-login-form-box .afeb-register-form,
.afeb-lostpassword-form-box .afeb-login-form,
.afeb-lostpassword-form-box .afeb-register-form,
.afeb-register-form-box .afeb-login-form,
.afeb-register-form-box .afeb-lostpassword-form {
    display: none
}

.afeb-login-form-box.afeb-prev-lp-frm .afeb-login-form,
.afeb-login-form-box.afeb-prev-reg-frm .afeb-login-form,
.afeb-register-form-box.afeb-prev-lgn-frm .afeb-register-form {
    display: none !important
}

.afeb-login-form-box.afeb-prev-lp-frm .afeb-lostpassword-form,
.afeb-login-form-box.afeb-prev-reg-frm .afeb-register-form,
.afeb-register-form-box.afeb-prev-lgn-frm .afeb-login-form {
    display: block !important
}

.afeb-def-loggedin-form .afeb-avatar-box {
    display: flex;
    justify-content: center
}

.afeb-def-loggedin-form .afeb-msg-box {
    background-color: #fff;
    border-radius: 15px;
    line-height: 40px;
    margin: 40px auto;
    padding: 50px;
    text-align: center;
    width: 90%
}

.afeb-def-loggedin-form .avatar {
    border: 2px solid #674188;
    border-radius: 50%;
    height: 80px;
    width: 80px
}