.afeb-news-ticker {
    align-items: center;
    background-color: #f4efff;
    display: flex;
    width: 100%
}

.afeb-news-ticker>:not(.afeb-alert) {
    min-height: 55px
}

.afeb-news-ticker-label {
    align-items: center;
    background-color: #da0037;
    color: #eee;
    display: flex;
    float: left;
    font-weight: 700;
    justify-content: center;
    padding: 15px;
    text-align: center;
    width: 10%
}

.afeb-news-ticker-items {
    align-items: center;
    display: flex !important;
    float: left;
    width: calc(100% - 10%)
}

.afeb-news-ticker-content>a,
.afeb-news-ticker-content>a:hover {
    color: unset
}

.afeb-news-ticker .slick-slide,
.afeb-news-ticker .slick-slide * {
    margin: 0;
    padding: 0
}

.afeb-news-ticker .slick-slide {
    margin: 0 10px
}

.afeb-news-ticker .slick-prev {
    left: unset;
    right: 55px
}

.afeb-news-ticker.afeb-is-v .slick-prev {
    margin-top: -12px;
    right: 25px;
    top: 50%
}

.afeb-news-ticker.afeb-is-v .slick-next {
    margin-top: 12px;
    top: 50%
}