.afeb-notice-box {
    align-items: center;
    border-radius: 10px;
    background-color: #F6F193;
    box-shadow: 0px 1px 15px 0px #0003;
    display: flex;
    gap: 30px;
    padding: 20px 25px;
    position: relative;
}

.afeb-notice-box::before {
    border-radius: 20px;
    background-color: #50623A;
    content: '';
    display: block;
    height: 60%;
    position: absolute;
    right: -4px;
    top: 50%;
    transform: translateY(-50%);
    width: 8px;
}

.afeb-notice-box .afeb-icon {
    align-items: center;
    background-color: #F5DD61;
    border-radius: 10px;
    color: #50623A;
    display: block;
    display: flex;
    font-size: 50px;
    height: 100px;
    justify-content: center;
    min-width: 100px;
    width: 100px;
}

.afeb-notice-box .afeb-icon.afeb-shield {
    border-radius: 60% 60% 60% 60% / 22% 22% 98% 98%;
}

.afeb-notice-box .afeb-icon.afeb-circle {
    border-radius: 50%;
}

.afeb-notice-box .afeb-icon svg {
    fill: #50623A;
    width: 22px;
}

.afeb-notice-box .afeb-title {
    color: #50623A;
    font-size: 25px;
    font-weight: bold;
}

.afeb-notice-box .afeb-description {
    font-size: 16px;
}

@media screen and (max-width: 767px) {
    .afeb-notice-box {
        flex-direction: column;
    }

    .afeb-notice-box::before {
        height: 8px;
        right: 50%;
        top: -4px;
        transform: translateX(50%);
        width: 50%;
    }

    .afeb-notice-box .afeb-title,
    .afeb-notice-box .afeb-description {
        text-align: center;
    }
}