.afeb-post-navigation-borders-yes .afeb-post-navigation.afeb-grid {
    border: 1px solid;
    border-left: none;
    border-right: none;
    color: #d5d8dc;
    padding-bottom: 10px;
    padding-top: 10px
}

.afeb-post-navigation-borders-yes .afeb-post-navigation-separator {
    background-color: #d5d8dc;
    height: 100%;
    margin: 0 auto;
    width: 1px
}

.afeb-post-navigation {
    display: flex;
    overflow: hidden
}

.afeb-post-navigation .afeb-post-navigation-arrow-wrapper {
    color: #d5d8dc
}

.afeb-post-navigation .afeb-post-navigation-arrow-wrapper.afeb-post-navigation-arrow-prev {
    font-size: 30px;
    padding-inline-end: 15px
}

.afeb-post-navigation .afeb-post-navigation-arrow-wrapper.afeb-post-navigation-arrow-next {
    font-size: 30px;
    padding-inline-start: 15px
}

.afeb-post-navigation .afeb-post-navigation-arrow-wrapper i {
    transform: translateY(-5%)
}

.afeb-post-navigation .afeb-post-navigation-link-next,
.afeb-post-navigation .afeb-post-navigation-link-prev {
    overflow: hidden
}

.afeb-post-navigation .afeb-post-navigation-link a {
    align-items: center;
    color: #54595f;
    display: flex;
    max-width: 100%
}

.afeb-post-navigation .afeb-post-navigation-next-label,
.afeb-post-navigation .afeb-post-navigation-prev-label {
    font-size: .8em;
    text-transform: uppercase
}

.afeb-post-navigation .afeb-post-navigation-next-title,
.afeb-post-navigation .afeb-post-navigation-prev-title {
    font-size: .7em
}

.afeb-post-navigation .afeb-post-navigation-next-label,
.afeb-post-navigation .afeb-post-navigation-next-title,
.afeb-post-navigation .afeb-post-navigation-prev-label,
.afeb-post-navigation .afeb-post-navigation-prev-title {
    overflow: hidden;
    text-overflow: ellipsis
}

.afeb-post-navigation .afeb-post-navigation-next,
.afeb-post-navigation span.afeb-post-navigation-link-next {
    text-align: end
}

.afeb-post-navigation span.afeb-post-navigation-link-next,
.afeb-post-navigation span.afeb-post-navigation-link-prev {
    display: flex;
    flex-direction: column
}

.afeb-post-navigation .afeb-grid {
    justify-content: space-between
}

.afeb-post-navigation .afeb-post-navigation-link {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: calc(50% - 1px / 2)
}

.afeb-post-navigation .afeb-post-navigation-separator-wrapper {
    text-align: center
}

.afeb-post-navigation .afeb-post-navigation-next a {
    justify-content: flex-end
}