.afeb-tab,
.afeb-tabs-is-v .afeb-clr {
    width: 100%
}

.afeb-tab-a,
.afeb-tabs {
    position: relative
}

.afeb-tab {
    display: none;
    margin: 30px 0 0
}

.afeb-tabs-nav {
    display: flex
}

.afeb-tabs-nav-after .afeb-tabs-nav {
    margin-top: 30px
}

.afeb-tab.afeb-active,
.afeb-tabs-content .afeb-tab:last-child {
    display: block
}

.afeb-tabs-flash .afeb-tab>div {
    animation: .8s forwards afeb_tab_flash
}

.afeb-tab-a {
    background-color: #f3f3f3;
    border-bottom: 2px solid transparent;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    margin: 0 4px;
    padding: 15px
}

.afeb-tabs-is-v .afeb-tab-a {
    border: none;
    display: block;
    margin: 4px 0;
    width: 100%
}

.afeb-tabs-vr .afeb-tab-a {
    border-left: 2px solid transparent;
    border-radius: 0 10px 10px 0
}

.afeb-tabs-vl .afeb-tab-a {
    border-right: 2px solid transparent;
    border-radius: 10px 0 0 10px
}

.afeb-tab-a>span {
    display: inline-block;
    vertical-align: middle
}

.afeb-tab-a .afeb-tab-icon,
.afeb-tab-a .afeb-tab-image {
    display: inline-block;
    height: 20px;
    margin: 0 5px;
    position: relative;
    top: -4px;
    width: 20px
}

.afeb-tab-a.afeb-active {
    border-color: #2794da
}

.afeb-tabs-hbc .afeb-tab-a,
.afeb-tabs-htc .afeb-tab-a {
    float: none
}

.afeb-tabs-is-v.right .afeb-tabs-nav,
.afeb-tabs-vr .afeb-tabs-content,
.afeb-tabs-vr .afeb-tabs-nav {
    float: right
}

.afeb-tabs-is-v .afeb-tabs-nav {
    float: left;
    width: 30%
}

.afeb-tabs-is-v .afeb-tabs-content {
    float: left;
    width: calc(100% - 30%)
}

.afeb-tabs-is-v .afeb-tab {
    padding: 0 30px
}

.afeb-tabs-vl .afeb-tab,
.afeb-tabs-vr .afeb-tab {
    margin: 0
}

.afeb-tabs>select {
    display: none;
    margin: 40px 0 10px
}

@keyframes afeb_tab_flash {
    0% {
        opacity: .1
    }

    100% {
        opacity: 1
    }
}