.toplevel_page_afeb>.wp-menu-image::before {
  background-image: url(../img/afeb-menu-icon.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  content: '';
  margin-top: 8px
}

.toplevel_page_afeb.wp-has-current-submenu>.wp-menu-image::before {
  background-image: url(../img/afeb-active-menu-icon.svg)
}

.afeb-body a:focus,
.afeb-body button:active,
.afeb-body button:focus,
.afeb-body select:active,
.afeb-body select:focus {
  box-shadow: none !important;
  outline: 0 !important
}

.afeb-body input[name*=afeb],
.afeb-new-template-type>select {
  border: 1px solid #8e979f;
  border-radius: 16px
}

.afeb-body input:active,
.afeb-body input:focus {
  border: 1px solid #71777c !important;
  box-shadow: none !important;
  outline: 0 !important
}

.afeb-body a {
  text-decoration: none
}

.afeb-dashboard-body * {
  box-sizing: border-box !important
}

.afeb-dashboard-body {
  background-color: #f0f0f1 !important;
  margin: 0 !important;
  padding: 0 !important
}

.afeb-dashboard-wrap {
  padding-top: 110px
}

.afeb-dashboard-notice-box .notice-dismiss {
  top: 18px
}

.afeb-dashboard-notice-box .notice.notice-error {
  background-color: #efd0dd;
  border: 0;
  border-radius: 30px;
  box-shadow: 0 5px 10px 0 rgb(146 0 59 / .1);
  color: #92003b;
  padding: 20px;
  text-align: center
}

.afeb-dashboard-notice-box .notice.notice-error .notice-dismiss::before,
.afeb-dashboard-notice-box .notice.notice-error .notice-dismiss:hover:before {
  color: #92003b;
  transition: .25s
}

.afeb-dashboard-notice-box .notice.notice-success {
  background-color: #d5efd0;
  border-radius: 30px;
  border: 0;
  box-shadow: 0 5px 10px 0 rgb(37 158 0 / .1);
  color: #259e00;
  padding: 20px;
  text-align: center
}

.afeb-dashboard-notice-box .notice.notice-success .notice-dismiss::before,
.afeb-dashboard-notice-box .notice.notice-success .notice-dismiss:hover:before {
  color: #259e00;
  transition: .25s
}

.afeb-dashboard-notice-box .notice.notice-error .notice-dismiss:hover:before,
.afeb-dashboard-notice-box .notice.notice-success .notice-dismiss:hover:before {
  transform: rotate(90deg)
}

.afeb-top-bar {
  align-items: center;
  background-color: #fff;
  box-shadow: 0 5px 10px 0 rgb(0 0 0 / .050);
  display: flex;
  justify-content: space-between;
  height: 120px;
  left: -20px;
  padding: 24px 36px;
  position: absolute;
  right: 0;
  top: 0
}

.afeb-box-btn,
.afeb-elements-search-section,
.afeb-latest-news-item-box,
.afeb-template-kit-section .afeb-box-header,
.afeb-tooltip-box {
  position: relative
}

.afeb-box-section,
.afeb-tab-bar {
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 5px 10px 0 rgb(0 0 0 / .1)
}

.afeb-top-bar-logo>a>* {
  display: inline-block;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 60px
}

.afeb-top-bar-logo .afeb-logo {
  background-image: url(../img/afeb-logo.svg);
  width: 60px
}

.afeb-top-bar-logo .afeb-logo-text {
  background-image: url(../img/afeb-logo-text.svg);
  margin: 0 5px;
  width: 200px
}

.afeb-top-bar-actions>a {
  margin: 0 8px
}

.afeb-tab-bar {
  align-items: center;
  display: flex;
  height: 80px;
  justify-content: center;
  text-align: center
}

.afeb-tab-bar>ul>li {
  display: inline-block;
  margin: auto 16px
}

.afeb-tab-bar>ul>li>a {
  color: #202327;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 0
}

.afeb-tab-bar>ul>li>a:hover {
  color: #3c434a
}

.afeb-tab-bar>ul>li>a.afeb-tab-active {
  border-bottom: 2px solid #5936c6;
  color: #5936c6
}

.afeb-tab-bar>ul>li>a>span {
  margin: 0 6px
}

.afeb-box-section {
  height: 100%;
  padding: 30px
}

.afeb-box-section :not(.afeb-space) {
  margin: 0 !important
}

.afeb-box-section .afeb-box-header>img {
  height: 64px;
  width: 64px
}

.afeb-box-section .afeb-box-header>h2 {
  color: #202327;
  font-size: 18px;
  font-weight: 600;
  line-height: 48px;
  margin: 10px 0
}

.afeb-box-section .afeb-box-body>.afeb-box-body-section {
  margin: 10px 0 !important
}

.afeb-box-section .afeb-box-body>.afeb-box-body-section>label {
  display: inline-block;
  font-size: 14px;
  margin: 8px 0 !important
}

.afeb-box-section .afeb-box-body>.afeb-box-body-section .afeb-box-body-section-control>* {
  border: 1px solid #000;
  color: #000;
  padding: 5px 10px !important;
  width: 100% !important
}

.afeb-box-section .afeb-box-body>.afeb-box-body-section .afeb-box-body-section-control>select:hover {
  color: #000 !important
}

.afeb-accordion-box-body,
.afeb-box-section p {
  line-height: 25px
}

.afeb-box-btn {
  border-radius: 16px;
  border: 1px solid;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  padding: 12px 50px 12px 28px
}

.afeb-box-btn.afeb-primary-btn {
  background-color: #92003b;
  color: #fff
}

.afeb-box-btn.afeb-sec-primary-btn {
  background-color: #5936c6;
  color: #fff
}

.afeb-box-btn.afeb-secondary-btn {
  background-color: #fff;
  color: #92003b
}

.afeb-box-btn.afeb-sec-secondary-btn {
  background-color: #fff;
  color: #5936c6
}

.afeb-box-btn.afeb-primary-btn::before,
.afeb-box-btn.afeb-sec-primary-btn::before,
.afeb-box-btn.afeb-sec-secondary-btn::before,
.afeb-box-btn.afeb-secondary-btn::before {
  content: '';
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 20px;
  margin-top: -10px;
  position: absolute;
  right: 16px;
  top: 50%;
  width: 20px
}

.afeb-box-btn.afeb-primary-btn::before,
.afeb-box-btn.afeb-sec-primary-btn::before {
  background-image: url(../img/dashboard-primary-btn-arrow.svg)
}

.afeb-box-btn.afeb-secondary-btn::before {
  background-image: url(../img/dashboard-sec-btn-arrow.svg)
}

.afeb-box-btn.afeb-sec-secondary-btn::before {
  background-image: url(../img/dashboard-sec-sec-btn-arrow.svg)
}

.afeb-box-btn:hover {
  transform: scale(.9);
  transition: .25s ease-in-out
}

.afeb-box-btn:hover::before {
  right: 12px;
  transition: .25s
}

.afeb-welcome-section {
  background-image: linear-gradient(to bottom right, #4626a8, #92003b)
}

.afeb-welcome-section .afeb-box-body>p,
.afeb-welcome-section .afeb-box-header>h2 {
  color: #fff;
  line-height: 30px
}

.afeb-changelog-section {
  background-image: url(../img/dashboard-whats-news-magic-hat.svg);
  background-position: center right 20px;
  background-repeat: no-repeat;
  background-size: 35%
}

.afeb-changelog-section .afeb-changelog-date {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 15px !important
}

.afeb-changelog-section .afeb-changelog-version {
  background-color: #efd0dd;
  border-radius: 8px;
  color: #92003b;
  font-weight: 400;
  font-size: 14px;
  margin-left: 10px !important;
  padding: 2px 8px;
  text-align: center
}

.afeb-changelog-section .afeb-changelog-list {
  list-style: disc;
  margin-left: 20px !important
}

.afeb-changelog-section .afeb-changelog-list>li {
  padding: 10px 0
}

.afeb-support-feedback-section .afeb-box-header>h2,
.afeb-template-import-progress-markers .afeb-refresh>div>span,
.afeb-template-import-successful.afeb-fail .afeb-template-import-successful-heading {
  color: #92003b
}

.afeb-support-feedback-section {
  background-image: url(../img/dashboard-support-feedback-bg.svg);
  background-position: top 50% right 10px;
  background-repeat: no-repeat;
  background-size: 30%
}

.afeb-latest-news-item-box::before {
  background: url(../img/dashboard-latest-news-arrow.svg) 0 0/100% 100% no-repeat;
  content: '';
  height: 18px;
  position: absolute;
  top: 2px;
  width: 18px
}

.afeb-latest-news-item-box .afeb-latest-news-item {
  padding-left: 30px
}

.afeb-latest-news-item-box .afeb-latest-news-item a {
  color: #000;
  font-weight: 700;
  transition: .5s
}

.afeb-latest-news-item-box .afeb-latest-news-item a:hover {
  color: #2b1080
}

.afeb-faq-section .afeb-accordion-box-header {
  cursor: pointer;
  font-weight: 600;
  padding: 25px 5px;
  position: relative
}

.afeb-faq-section .afeb-accordion-box-header.ui-state-active .afeb-accordion-box-header-icon>i::before {
  content: "\f106"
}

.afeb-faq-section .afeb-accordion-box-header .afeb-accordion-box-header-icon {
  background-color: #cbc4e1;
  border-radius: 50px;
  color: #000;
  height: 20px;
  line-height: 20px;
  margin-top: -10px !important;
  position: absolute;
  right: 0;
  text-align: center;
  top: 50%;
  width: 20px
}

.afeb-try-our-other-products-section .afeb-box-header>img {
  height: unset;
  margin: auto !important;
  padding: 0 35px;
  width: 100%
}

.afeb-give-us-review-section {
  background-image: url(../img/dashboard-rate.png);
  background-position: center right 20px;
  background-repeat: no-repeat;
  background-size: 25%
}

.afeb-maf-section .afeb-maf-image {
  background-image: url(../img/dashboard-maf-pic.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%
}

.afeb-template-kit-section .afeb-box-header>img {
  border-radius: 26px;
  height: 406px;
  position: relative;
  margin: auto !important;
  transform: none !important;
  width: 100%;
  z-index: 1
}

.afeb-template-kit-section .afeb-box-header>span {
  color: #f0f0f1;
  font-size: 30px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 0
}

.afeb-template-kit-section .afeb-box-header>span.afeb-preview {
  opacity: 0;
  visibility: 0
}

.afeb-template-kit-section .afeb-box-header:hover>span.afeb-preview {
  color: #000;
  cursor: pointer;
  font-size: 45px;
  opacity: 1;
  visibility: 1;
  transition: .2s ease-in-out;
  z-index: 2
}

.afeb-template-kit-section .afeb-box-header>span.afeb-preview:hover {
  transform: translate(-50%, -50%) rotate(-360deg);
  transition: .3s ease-in-out
}

.afeb-template-import-progress-markers .afeb-template-import-progress-markers-settings,
.afeb-template-kit-section .afeb-box-header>span.afeb-loader {
  left: 48%
}

.afeb-go-pro-free-vs-pro-section .afeb-box-header,
.afeb-template-import,
.afeb-template-kit-section .afeb-box-body {
  text-align: center
}

.afeb-template-kit-section .afeb-box-body>h3 {
  padding: 15px
}

.afeb-template-kit-section .afeb-box-body>h5 {
  padding-bottom: 12px
}

.afeb-template-import-confirmation .afeb-template-kit-btns {
  margin: 12px 0
}

.afeb-template-import-successful .afeb-template-kit-import-btn,
.afeb-template-kit-btns>* {
  border: 0;
  border-radius: 8px;
  height: 36px;
  margin: 0 7px !important;
  width: 98px
}

.afeb-template-kit-cancel-btn,
.afeb-template-kit-preview-btn,
.afeb-template-kit-preview-btn:focus,
.afeb-template-kit-preview-btn:hover {
  background: #fff;
  border: 1px solid #92003b;
  color: #92003b;
  display: inline-block
}

.afeb-template-kit-preview-btn {
  line-height: 34px
}

.afeb-template-kit-import-btn,
.afeb-template-kit-import-btn:focus {
  background: #92003b;
  color: #fff
}

.afeb-template-import>:not(:first-child) {
  margin: 22px 0
}

.afeb-template-import-tip {
  border-radius: 15px;
  padding: 10px
}

.afeb-template-import-progress-wrap {
  background-color: #8e979f;
  border-radius: 12px;
  position: relative;
  margin: 54px 0 22px !important
}

.afeb-template-import-progress-markers>div {
  background-color: #009c06;
  border-radius: 50% 50% 50% 0;
  height: 45px;
  margin: -20px 0 0 -20px;
  position: absolute;
  top: -10px;
  transform: rotate(-45deg);
  width: 45px
}

.afeb-template-import-progress-markers .afeb-template-import-progress-markers-plugins {
  left: 24%
}

.afeb-template-import-progress-markers .afeb-template-import-progress-markers-content {
  left: 74%
}

.afeb-template-import-progress-markers .afeb-refresh {
  background-color: #92003b;
  cursor: pointer
}

.afeb-template-import-progress-markers .afeb-refresh>div:hover>span {
  transform: rotate(180deg);
  transition: .3s ease-in-out
}

.afeb-template-import-progress-markers>div>div {
  background-color: #fff;
  border-radius: 50%;
  color: #009b06;
  font-size: 20px;
  height: 35px;
  line-height: 35px;
  margin: 5px;
  transform: rotate(45deg);
  width: 35px
}

.afeb-template-import-progress {
  background-color: #009c06;
  border-radius: 12px;
  height: 16px;
  width: 25%
}

.afeb-template-import-get-help,
.afeb-template-import-get-help>a,
.afeb-template-import-successful-get-help,
.afeb-template-import-successful-get-help>a {
  color: #721c24
}

.afeb-template-import-successful {
  text-align: center;
  padding-bottom: 15px
}

.afeb-template-import-successful-icon {
  background-color: #009b06;
  border-radius: 50%;
  color: #fff;
  display: block !important;
  font-size: 40px;
  height: 78px;
  line-height: 78px !important;
  margin: 0 auto;
  text-align: center;
  width: 78px
}

.afeb-element-status-deactive,
.afeb-template-import-successful.afeb-fail .afeb-template-import-successful-icon {
  background-color: #92003b !important
}

.afeb-template-import-successful-heading {
  color: #009b06;
  font-size: 30px
}

.afeb-template-import-successful-description,
.afeb-template-import-successful-get-help,
.afeb-template-kit-import-btn {
  margin: 20px
}

.afeb-template-import-successful .afeb-template-kit-import-btn {
  display: inline-block;
  width: 120px;
  line-height: 35px
}

.afeb-template-import-successful .afeb-template-kit-import-btn:hover {
  color: #fff;
  transform: scale(.9);
  transition: .1s
}

.afeb-template-import-successful.afeb-fail .afeb-template-kit-import-btn {
  background-color: #009b06
}

.afeb-template-kit-btns>*>span {
  margin: 0 2px !important
}

.afeb-template-import-image {
  border-radius: 16px;
  height: 214px;
  width: 165px
}

.afeb-template-import-name {
  background: #92003b;
  background: linear-gradient(to right, #92003b 0, #5936c6 100%);
  -moz-background-clip: text;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: #fff0
}

.afeb-template-import-question {
  font-size: 20px
}

#afeb-new-popup-dialog>button>span,
#afeb-new-template-dialog>button>span,
.afeb-edit-advanced-menu-fields,
.afeb-template-preview-kit-section {
  display: none
}

.afeb-template-preview-kit-back-btn {
  margin-top: 50px;
  text-align: center
}

.afeb-go-pro-section {
  padding: 0 30px
}

.afeb-go-pro-intro-section>h1 {
  color: #92003b;
  font-size: 48px;
  font-weight: 600;
  line-height: 70px
}

.afeb-go-pro-section>div {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  margin-top: 30px
}

.afeb-go-pro-section>a {
  margin-top: 30px
}

.afeb-go-pro-mg-section>img,
.afeb-go-pro-roocket-section>img {
  width: 100%
}

.afeb-go-pro-contact-sales-section {
  border-radius: 30px;
  background-image: linear-gradient(to bottom right, #4626a8, #92003b);
  box-shadow: 0 5px 10px 0 rgb(0 0 0 / .1);
  padding: 2px 30px
}

.afeb-go-pro-contact-sales-section>div>div:first-child>h2 {
  color: #fff;
  font-size: 34px;
  font-weight: 600;
  line-height: 48px
}

.afeb-go-pro-contact-sales-section>div>div:last-child {
  line-height: 116px;
  text-align: center
}

.afeb-go-pro-section>h2 {
  color: #202327;
  font-size: 34px;
  font-weight: 600;
  line-height: 48px
}

.afeb-go-pro-free-vs-pro-section .afeb-table thead th {
  border-top: 0;
  text-align: left
}

.afeb-go-pro-free-vs-pro-section .afeb-table thead th:nth-child(n+2) {
  width: 8%
}

.afeb-go-pro-free-vs-pro-section .afeb-table tbody .afeb-dn-have {
  color: #ff3b30
}

.afeb-go-pro-free-vs-pro-section .afeb-table tbody .afeb-has {
  color: #34c759
}

.afeb-go-pro-gafe-section {
  background: url(../img/go-pro-gafe.png) center center/100% 100% no-repeat #fff;
  padding: 60px;
  text-align: center
}

.afeb-edit-advanced-menu-deactive,
.afeb-element-section .afeb-element-actions>a:first-child,
.afeb-element-status,
.afeb-tooltip-text {
  background-color: #5936c6
}

.afeb-go-pro-gafe-section>h2 {
  color: #fff;
  font-size: 48px;
  font-weight: 600;
  line-height: 70px;
  text-align: center
}

.afeb-go-pro-gafe-section>a {
  margin: 40px auto
}

.afeb-elements-search-section>.afeb-elements-search-input-icon {
  color: #000;
  font-size: 18px;
  right: 12px;
  position: absolute;
  top: 22px
}

.afeb-elements-search-section>.afeb-elements-search-input {
  background: #fff;
  border-radius: 16px;
  border: 1px solid #8e979f;
  color: #000;
  margin: 5px 10px;
  padding: 12px 28px;
  width: 100%
}

.afeb-elements-state-btn-section {
  position: absolute;
  right: 8px;
  top: 5px
}

.afeb-elements-state-btn {
  border: none;
  border-radius: 50px;
  color: #fff;
  margin: -2px;
  padding: 12px 10px;
  transition: .15s
}

.afeb-elements-state-btn:hover {
  opacity: .9;
  transform: scale(.99)
}

.afeb-element-section * {
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none
}

.afeb-element-section {
  overflow: hidden;
  padding: 30px 30px 18px !important;
  position: relative
}

.afeb-element-section .afeb-box-header>img {
  transform: scale(1.35)
}

.afeb-element-section .afeb-box-header>h2 {
  display: inline-block;
  margin-left: 12px !important;
  position: relative;
  top: -22px;
  z-index: 1
}

.afeb-element-status {
  bottom: 30px;
  border-radius: 30px;
  position: absolute;
  right: 12px;
  top: 30px;
  width: 5px
}

.afeb-element-status-alert-ic {
  color: #fec31f;
  font-size: 50px;
  position: absolute;
  right: 20px;
  top: 44px;
  transform: rotate(-5deg)
}

.afeb-pro-version-ic>span {
  bottom: 8px;
  color: #fefefe;
  font-family: cursive;
  font-size: 14px;
  left: 9px;
  position: absolute
}

.afeb-element-section:hover .afeb-element-actions {
  opacity: 1;
  width: 100%
}

.afeb-element-section .afeb-element-actions {
  background: #fff;
  bottom: 0;
  left: 0;
  opacity: 0;
  overflow: hidden;
  padding: 35px 0;
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
  transition: .18s ease-in;
  width: 20%;
  z-index: 10
}

.afeb-element-section .afeb-element-actions>a {
  background-color: #92003b;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  line-height: 50px;
  height: 50px;
  opacity: 0;
  transition: transform .25s !important;
  width: 50px;
  margin: 5px !important
}

.afeb-element-section:hover .afeb-element-actions>a {
  opacity: 1;
  transition: opacity .15s .25s
}

.afeb-element-form-submit-box>button:hover,
.afeb-element-section .afeb-element-actions>a:hover {
  transform: scale(.9)
}

.afeb-element-actions .afeb-element-settings {
  background-color: #ff5722 !important
}

.afeb-element-actions .afeb-go-to-pro-box,
.afeb-element-section .afeb-element-actions>a.afeb-act-alert {
  background-color: #fec31f !important
}

.afeb-element-checkbox-box.afeb-deactive-checkbox {
  background-color: #92003b !important;
  position: relative
}

.afeb-element-checkbox-box.afeb-deactive-checkbox::after,
.afeb-element-checkbox-box.afeb-deactive-checkbox::before {
  background-color: #fff;
  content: '';
  cursor: pointer;
  height: 28px;
  left: 25px;
  pointer-events: none;
  position: absolute;
  transform: rotate(45deg);
  top: 12px;
  width: 2px
}

.afeb-element-checkbox-box.afeb-deactive-checkbox::after {
  transform: rotate(-45deg)
}

.afeb-form-group .afeb-checkbox,
.afeb-hidden-checkbox {
  cursor: pointer;
  display: none !important;
  height: initial;
  margin-bottom: 0;
  padding: 0;
  width: initial
}

.afeb-form-group label {
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  height: 100%;
  position: relative;
  top: -3px;
  width: 100%
}

.afeb-form-group input:checked+label:after {
  border: solid #fff;
  border-width: 0 2px 2px 0;
  content: '';
  display: block;
  top: 15px;
  left: 22px;
  height: 14px;
  position: absolute;
  transform: rotate(45deg);
  width: 6px
}

.afeb-tooltip-box:hover .afeb-tooltip-text {
  z-index: 99;
  opacity: 1
}

.afeb-tooltip-text {
  border-radius: 5px;
  line-height: normal !important;
  opacity: 0;
  padding: 5px 8px;
  position: absolute;
  right: 15px;
  top: -35px;
  transition: .15s;
  z-index: -99
}

.afeb-tooltip-text::before {
  border: 5px solid #5936c6;
  border-bottom-color: #fff0;
  bottom: -7px;
  content: ' ';
  position: absolute;
  right: 5px
}

.afeb-iplugins-tooltip-box>.afeb-checkbox {
  display: none;
  position: fixed;
  z-index: -99
}

.afeb-go-to-pro-box .afeb-tooltip-text,
.afeb-iplugins-tooltip-box .afeb-tooltip-text {
  width: 130px
}

.afeb-element-form-submit-box>button {
  display: block;
  margin: 50px auto 0 !important;
  transition: .25s
}

.afeb-element-separate-section h2 {
  color: #5936c6;
  font-size: 26px;
  text-align: center
}

.afeb-wrap .afeb-admin-footer {
  color: #000;
  font-weight: 700;
  text-align: center;
  margin-top: 50px
}

#afeb-admin-footer-link {
  text-decoration: none !important
}

#afeb-admin-footer-link>img {
  margin: -6px 0 -6px 8px;
  width: 100px
}

#afeb-new-popup-dialog,
#afeb-new-template-dialog {
  box-sizing: border-box
}

#afeb-new-popup-dialog .afeb-description,
#afeb-new-template-dialog .afeb-description {
  line-height: 30px;
  padding: 18px 5px;
  text-align: center
}

.afeb-new-popup-name>label,
.afeb-new-template-name>label,
.afeb-new-template-type>label {
  margin: 12px
}

.afeb-new-popup-name>input,
.afeb-new-template-name>input,
.afeb-new-template-type>select {
  margin: 10px 0;
  padding: 9px 28px;
  width: 100%
}

#afeb-new-popup-dialog>button:hover,
#afeb-new-template-dialog>button:hover {
  background-color: #850036;
  transform: none !important
}

.afeb-new-popup-msg,
.afeb-new-template-msg {
  color: #850036;
  line-height: 24px;
  margin: 16px 12px;
  text-align: center
}

.afeb-new-popup-msg.afeb-err,
.afeb-new-template-msg.afeb-err {
  color: #850036
}

.afeb-new-popup-msg.afeb-sucs,
.afeb-new-template-msg.afeb-sucs {
  color: #259e00
}

.afeb-edit-advanced-menu-activation {
  background-color: #92003b;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
  height: 50px;
  line-height: 45px;
  position: relative;
  text-align: center
}

.afeb-edit-advanced-menu-activation::before {
  background: url(../img/afeb-active-menu-icon.svg) no-repeat;
  content: ' ';
  height: 35px;
  left: 12px;
  position: absolute;
  top: 8px;
  width: 35px
}

.afeb-edit-advanced-menu-activation>label {
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  right: 0;
  top: 0;
  z-index: 10
}

.afeb-edit-advanced-menu-fields .wp-picker-container {
  margin: 0 20px
}

.afeb-edit-advanced-menu-fields .wp-picker-container>button {
  border-color: #8a8d92
}

.afeb-edit-advanced-sub-menu-activation {
  position: relative;
  text-align: center
}

.afeb-edit-advanced-sub-menu-activation::before {
  border-bottom: 1px dashed #8b8e93;
  content: ' ';
  left: 0;
  position: absolute;
  top: 10px;
  width: 100%;
  z-index: -1
}

.afeb-edit-advanced-sub-menu-activation>label {
  background-color: #fff;
  border-radius: 4px;
  color: #000;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  padding: 2px 10px;
  position: relative
}

.afeb-edit-advanced-sub-menu-activation>label:hover,
.afeb-edit-advanced-sub-menu-deactive>label {
  color: #8b8e93
}

.afeb-edit-advanced-sub-menu-deactive>label:hover {
  color: #000
}

@media (max-width:992px) {
  .afeb-m-md {
    margin-bottom: 20px
  }

  .afeb-element-search-section {
    margin: 15px auto
  }
}