div[class*=afeb_icn_tb_cntrl] .elementor-control-type-tab::before,
div[class*=afeb_icon_tab_control] .elementor-control-type-tab::before,
i[class^=afeb-icon]:after,
i[class^=afebp-icon]:after {
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased
}

[class*=afeb-icon],
[class*=afebp-icon],
[class^=afeb-icon],
[class^=afebp-icon] {
    font-size: 100px
}

i[class^=afeb-icon]:after,
i[class^=afebp-icon]:after {
    background-image: url('../img/afeb-menu-icon.svg');
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: center;
    border-radius: 50px;
    content: '';
    -moz-osx-font-smoothing: grayscale;
    height: 22px;
    position: absolute;
    right: 6px;
    top: 6px;
    width: 22px;
    z-index: -1
}

[class*=afeb-iconsvg]:before,
[class*=afebp-iconsvg]:before,
[class^=afeb-iconsvg]:before,
[class^=afebp-iconsvg]:before {
    background-size: contain;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    content: '';
    display: block;
    height: 30px;
    margin: 0 auto;
    object-fit: contain;
    transform: scale(2);
    width: 30px
}

#elementor-navigator [class*=afeb-iconsvg]:before,
#elementor-navigator [class*=afebp-iconsvg]:before,
#elementor-navigator [class^=afeb-iconsvg]:before,
#elementor-navigator [class^=afebp-iconsvg]:before {
    margin: 0 5px;
    width: 16px
}

#elementor-panel-page-menu [class*=afeb_],
#elementor-panel-page-menu [class*=afebp_] {
    position: relative
}

#elementor-panel-page-menu [class*=afeb_]:before,
#elementor-panel-page-menu [class*=afebp_]:before,
[class*=afeb-ext]:before,
[class*=afebp-ext]:before,
[class^=afeb-ext]:before,
[class^=afebp-ext]:before,
[id*=afeb_basic]:before {
    background-image: url('../img/afeb-section-logo.svg');
    border-radius: 50px;
    content: '';
    height: 24px;
    margin: 0 auto;
    position: absolute;
    right: 12px;
    top: 13px;
    width: 24px
}

[id*=theme-elements] .elementor-panel-heading-promotion>a {
    display: none !important
}

#elementor-panel-page-menu [class*=afeb_]:before,
#elementor-panel-page-menu [class*=afebp_]:before {
    top: 7px
}

.elementor-control-image-selector-wrapper input[type=radio] {
    display: none
}

.elementor-label-block .elementor-control-image-selector-wrapper {
    margin-top: 10px;
    text-align: left;
    width: 100%
}

.elementor-control-image-selector-wrapper .elementor-image-selector-label {
    background-color: #eee;
    border: 2px solid transparent;
    border-radius: 6px;
    cursor: pointer;
    display: inline-block;
    height: 80px;
    margin: 2px;
    overflow: hidden;
    padding: 2% 1%;
    width: 30%
}

.afeb-dgrd_lyt .elementor-image-selector-label {
    height: 60px;
    width: 60px
}

.elementor-control-image-selector-wrapper input:checked+.elementor-image-selector-label {
    border: 2px solid #5936c6
}

.elementor-control-image-selector-wrapper .elementor-image-selector-label>img {
    height: 100%
}

.dialog-message a.afeb-dialog-box-link,
.elementor-control-rab .elementor-panel-heading {
    color: #92003b !important
}

.elementor-control-ranf .elementor-panel-heading {
    color: #5936c6
}

.afeb-bug-report-box>*,
.afeb-feature-request-box>* {
    display: block;
    margin: 10px 0
}

.afeb-bug-report-box>img,
.afeb-feature-request-box>img {
    margin: auto;
    width: 70%
}

.afeb-bug-report-box>span,
.afeb-feature-request-box>span {
    line-height: 22px
}

.afeb-bug-report-box>a.afeb-link,
.afeb-feature-request-box>a.afeb-link {
    background-color: #5936c6;
    border: 0;
    border-radius: 16px;
    color: #fff !important;
    padding: 18px;
    text-align: center
}

.afeb-bug-report-box>a.afeb-link>i,
.afeb-feature-request-box>a.afeb-link>i {
    display: inline-block;
    margin: 0 2px
}

.afeb-bug-report-box>a.afeb-link,
.elementor-control-afeb-sp-ssb-11- {
    background-color: #92003b
}

.afeb-bug-report-box>a.afeb-link:hover,
.afeb-feature-request-box>a.afeb-link:hover {
    transform: scale(.9);
    transition: .25s ease-in-out
}

.elementor-control-afeb_gup_sh,
.elementor-control-afeb_preloader_background_background,
.elementor-control-afeb_preloader_loader_animation_background_background,
.elementor-control-content .elementor-control-position,
.elementor-control-dgrd_sldr_arr_nxt_ic .elementor-control-icons--inline__svg,
.elementor-control-dgrd_sldr_arr_prv_ic .elementor-control-icons--inline__svg,
.elementor-control-lgn_itms_rpt .elementor-button-wrapper,
.elementor-control-lgn_itms_rpt .elementor-control-lgn_itms,
.elementor-control-lgn_itms_rpt .elementor-repeater-tool-duplicate,
.elementor-control-lgn_itms_rpt .elementor-repeater-tool-remove,
.elementor-control-nt_arr_nxt_ic .elementor-control-icons--inline__svg,
.elementor-control-nt_arr_prv_ic .elementor-control-icons--inline__svg,
.elementor-control-psitn {
    display: none !important;
    position: fixed !important;
    z-index: -99 !important
}

div[class*=afeb_icn_tb_cntrl] .elementor-control-type-tab,
div[class*=afeb_icon_tab_control] .elementor-control-type-tab {
    width: 40px
}

div[class*=afeb_icn_tb_cntrl] .elementor-control-type-tab::before,
div[class*=afeb_icon_tab_control] .elementor-control-type-tab::before {
    display: inline-block;
    font-family: eicons;
    font-size: inherit;
    text-rendering: auto
}

div[class*=afeb_icn_tb_cntrl] .elementor-control-content,
div[class*=afeb_icon_tab_control] .elementor-control-content {
    display: none;
    position: absolute;
    text-align: left;
    top: -30px;
    width: 150px
}

div[class*=afeb_icn_tb_cntrl] .elementor-control-type-tab:hover .elementor-control-content,
div[class*=afeb_icon_tab_control] .elementor-control-type-tab:hover .elementor-control-content {
    display: block
}

div[class*=afeb_icn_tb_cntrl] .elementor-control-content .elementor-panel-tab-heading,
div[class*=afeb_icon_tab_control] .elementor-control-content .elementor-panel-tab-heading {
    background-color: rgba(0, 0, 0, .8);
    border-radius: 2px;
    color: #fff;
    padding: 0 10px;
    width: fit-content
}

.elementor-control-pge_tb_frst::before {
    content: '\e8bf'
}

.elementor-control-pge_tb_lst::before {
    content: '\e8c0'
}

.elementor-control-pge_tb_nxt::before {
    content: '\e87d'
}

.elementor-control-pge_tb_prv::before {
    content: '\e87e'
}

.elementor-control-reo_new_usr_eml_tab::before {
    content: '\e92c'
}

.elementor-control-reo_new_usr_eml_admn_tab::before {
    content: '\e969'
}

.elementor-control-crp_new_pass_tab::before {
    content: '\e96f'
}

.elementor-control-crp_new_cnp_tab::before {
    content: '\e90e'
}

.elementor-control-lgn_rgstr_reg_frm_opt_tab::before,
.elementor-control-reg_sucs_msg_tab::before {
    content: "\e815"
}

.elementor-control-lgn_rgstr_lp_frm_opt_tab::before,
.elementor-control-lp_sucs_msg_tab::before {
    content: "\e895"
}

.elementor-control-lgn_rgstr_lgn_frm_opt_tab::before {
    content: "\e87c"
}

.elementor-control-crp_sucs_msg_tab::before,
.elementor-control-lgn_rgstr_crp_frm_opt_tab::before {
    content: "\e8a6"
}

.elementor-control-lgn_rgstr_usrname_err_msg_tab::before {
    content: "\e81a"
}

.elementor-control-form_builder_error_message_email_tab::before,
.elementor-control-lgn_rgstr_email_err_msg_tab::before {
    content: "\e82b"
}

.elementor-control-lgn_rgstr_pass_err_msg_tab::before {
    content: "\e96f"
}

.elementor-control-form_builder_error_message_tel_tab::before,
.elementor-control-lgn_rgstr_phnnumber_err_msg_tab::before {
    content: "\e862"
}

.elementor-control-form_builder_error_message_more_tab::before,
.elementor-control-lgn_rgstr_more_err_msg_tab::before {
    content: "\e8be"
}

.elementor-control-lgn_rgstr_lgn_sucs_msg_tab::before {
    content: "\e969"
}

.elementor-control-form_builder_error_message_url_tab::before {
    content: "\e86a"
}

.elementor-control-form_builder_error_message_number_tab::before {
    content: "\e840"
}

.elementor-control-form_builder_error_message_date_tab::before {
    content: "\e826"
}

.elementor-control-form_builder_error_message_time_tab::before {
    content: "\e8fe"
}

.elementor-control-cstm_cssjs_css_tab::before {
    content: "\e97a"
}

.elementor-control-cstm_cssjs_js_tab::before {
    content: "\e811"
}

.afeb-update-preview {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    margin: 0;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify
}

.afeb-update-preview button {
    font-size: 13px;
    padding: 5px 10px
}